<div class="gameplay">
    <div class="gameplay-station">
        <div class="captcha-img item" style="margin-top:1rem">
            <img class="captcha-img-a" src="./../../../../../assets/images/cap.png" />
        </div>
        <div class="item">
            <mat-form-field class="example-form-field"  appearance="outline" style="width: 90%;">
                <!-- <mat-label>Enter Captcha</mat-label> -->
                <input matInput placeholder="Enter Captcha..." type="text" [(ngModel)]="value" style="color: #fd3b55;">
                <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button> -->
                <button matSuffix mat-flat-button style="margin-bottom: 1rem; color: #fd3b55;">Skip</button>

            </mat-form-field>
            <!-- <button  mat-flat-button >Skip</button> -->
            <button mat-raised-button color="primary"  style="width:90%; background-color: #fd3b55;">Submit</button>
        </div>

        <div class="item">
            <div class="grid-score" style="text-align: center;">
                <div class="score-item">
                    <div><img class="score-icon" src="./../../../../../assets/images/correct.png" /></div>
                    <div><h2 style="color: dodgerblue">28786</h2></div>
                </div>
                <div class="score-item">
                    <div><img class="score-icon" src="./../../../../../assets/images/criss-cross.png" /></div>
                    <div><h2 style="color: tomato">28908</h2></div>
                </div>
                <div class="score-item">
                    <div><img class="score-icon" src="./../../../../../assets/images/next.png" /></div>
                    <div><h2 style="color: yellow">76889</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>