
<body>

    <!-- <div class="header">
        <img class="header-img" src="./../../../../../assets/images/home_hd.png">
    </div> -->
    <div class="grid-header" >
        <div class="grid-header-item">
            <img class="grid-header-image" src="./../../../../../assets/images/boy.png" />
        </div>
        <div class="grid-header-item" >
            <!-- <div> <p class="grid-header-title">EARN WITH EASE</p></div>
            <div> <p class="grid-header-title">WITH CAPTHABRO</p></div>
            <div> <p class="grid-header-title">SITTING AT YOUR HOME</p></div> -->
            <div> <p class="grid-header-title">EARN WITH EASE AT "CAPTCHABRO", SITTING AT YOUR HOME!</p></div>

        </div>    
    </div>

    <div></div>

    <h1 class="title-heading" >Captchabro in breif</h1>

    <div style="overflow-x: hidden;">
        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>

    <div class="why-us">

        <h1 class="title-heading" >How it works</h1>

    <div class="grid-container" style="margin-bottom: 3rem;">
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/card-xs.png" />
            </div>
            <!-- <mat-divider></mat-divider> -->
           <div> <p class="grid-title" >Post a job (it’s free)</p> </div>
           <div> <p class="grid-subtitle">Tell us about your project. Upwork connects you with top talent and agencies around the world, or near you.</p> </div>
        </div>
        <div class="item">
            <div class="photo" >
                <img class="grid-img" src="./../../../../../assets/images/card-xs.png" />
            </div>
            <!-- <mat-divider></mat-divider> -->
           <div> <p class="grid-title" >Post a job (it’s free)</p> </div>
           <div> <p class="grid-subtitle" >Tell us about your project. Upwork connects you with top talent and agencies around the world, or near you.</p> </div>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/card-1.png" />
            </div>
            <!-- <mat-divider></mat-divider> -->
           <div> <p class="grid-title" >Post a job (it’s free)</p> </div>
           <div> <p class="grid-subtitle" >Tell us about your project. Upwork connects you with top talent and agencies around the world, or near you.</p> </div>
        </div>
        <div class="item">
            <div class="photo" >
                <img class="grid-img" src="./../../../../../assets/images/card-1.png" />
            </div>
            <!-- <mat-divider></mat-divider> -->
           <div> <p class="grid-title" >Post a job (it’s free)</p> </div>
           <div> <p class="grid-subtitle" >Tell us about your project. Upwork connects you with top talent and agencies around the world, or near you.</p> </div>
        </div>
  
    </div>

    </div>


    <div class="plans" style="background-color: whitesmoke; padding-bottom: 5em;">

        <h1 class="title-heading" >Choose the offering that works best for you</h1>
        <!-- <div> <p style="text-align:center; color: #494747; padding: 0.5rem 0.1rem 2.5rem 0.1rem; font-size: 1.2rem;">Post a job (it’s free)</p> </div> -->

        <div class="grid-plans">
            <div class="item-plans" *ngFor="let plan of plans">
                <div class="photo" style="height: 30%;">
                    <div class="plan-title" style="padding-top:1.5rem; font-weight: bold;"><h2>{{plan.title}}</h2></div>
                    <div><button mat-raised-button color="primary" style="width: 60%; background-color: #fd3b55;">{{plan.action}}</button></div>
                    <div class="plan-title" style="padding-top:1rem; font-weight: bold;"><h3>{{plan.fee}}</h3></div>
                </div>
                <mat-divider></mat-divider>
                <mat-list >
                    <mat-list-item style="padding-top: 1em" *ngFor="let feature of plan.features">
                      <mat-icon style="color: #fd3b55; font-weight: bold;" mat-list-icon>check</mat-icon>
                      <div style="text-align:left" mat-line>{{feature.name}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
	
	
	<!-- <footer  class="center bg-dark"> -->
    <footer>
        <div class="footer-grid">
            <div style="text-align: left;">
                <div><h2>Address:</h2></div>
                <div><p>Tower B, Building No. 5-Epitome,</p></div> 
                <div><p>DLF Cyber City, Gurugram, Haryana, 122002</p></div>
                <!-- <div><p>DLF Cyber City, Gurugram, Haryana, 122002</p></div> -->
                <div><p>Email: info@captchabro.in</p></div>
            </div>
            <div>
                <div><h2>Quick Links</h2></div>
                <div><p>About</p></div>
                <div><p>Services</p></div>
                <div><p>How it Works</p></div>
                <div><p>Contact</p></div>
                <div><p>Payment</p></div>

            </div>
            <div>
                <div><h2>Legal</h2></div>
                <div><p>Terms & Conditions</p></div>
                <div><p>Privacy Policy</p></div>
                <div><p>Refund Policy</p></div>
            </div>
        </div>
        <!-- <div><p>Captchabro &copy; 2020</p></div> -->
	</footer>


</body>