
<body>
	<header class="showcase">
		<div class="content">
			<img src="assets/images/logo_white_48dp.svg" class="logo" alt="Campaigner">
			<div class="title">Captchabro</div>
			
			<div class="text">
				BE the CHANGE you want to SEE.
			</div>
		</div>
	</header>
    <div></div>

    <h1 style="text-align:center;  font-size: 1.5rem; margin-top: 25px; margin-bottom: 25px;">Captchabro in brief !</h1>

    <div style="overflow-x: hidden;">
        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>

    <h1 style="text-align:center;  font-size: 1.5rem; margin-top: 25px; margin-bottom: 25px;">Why Captchabro?</h1>

    <div class="grid-container">
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>  
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
    </div>

    <h1 style="text-align:center;  font: 2em 'Fira Sans', sans-serif; font-weight: bolder; margin-top: 25px; margin-bottom: 25px;">Get started...</h1>

    <div class="grid-container">
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
        <div class="item">
            <div class="photo">
                <img class="grid-img" src="./../../../../../assets/images/home/moc.jpg" />
            </div>
            <p>Certified by Ministry of Ext. Affairs</p>
        </div>
    </div>
	
	
	<footer class="center bg-dark">
		<p>Captchabro &copy; 2020</p>
	</footer>


</body>