body {
    background-color: white;
    margin: 0;
    color: #fd3b55;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    
  
  }
  
  .showcase::after {
    content: '';
    height: 70vh;
    width: 100%;
    background-image: url("./../../../../../assets/images/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: all 1000ms;
    
  }
  
  .showcase:hover::after {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
  
  .showcase:hover .content {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  
  .content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    color: white;
  }
  
  .content .logo {
    height: 180px;
    width: 180px;
  }
  
  .content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  
  .content .text {
    line-height: 1.7;
    margin-top: 1rem;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }
  

  .center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    background: white;
    color: #fd3b55;
  }
  
  .bg-dark {
    background: #fd3b55;
    color: white;
  }
  
  footer {
    padding: 2.2rem;
  }
  
  footer p {
    margin: 0;
  }


  .video {
      width: 90%;
      height: 450px;
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: whitesmoke;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    height: 40vh;
    width: 32vw;
  }

  .grid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

//   .item1 {
//         grid-column-start: 1;
//         grid-column-end: 2;
//         grid-row-start: 1;
//         grid-row-end: 2;
//   }

  /* Small Screens */
  @media (max-width: 600px) {
    .showcase::after {
      height: 50vh;
    }
  
    .content {
      top: 10%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 100px;
      width: 100px;
    }
  
    .content .text {
      display: none;
    }

    .video {
        width: 90%;
        height: 280px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid-container {
        grid-template-columns: auto;
    }
    .grid-container > div {
        padding: 2.5px 5px 2.5px 5px;
        height: 40vh;
        width: 98vw;
    }
  }


  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
  
    .content {
      top: 0;
    }
  }
  