body {
    background-color: white;
    margin: 0;
    color: #fd3b55;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    
  }
  
  .grid-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 0px;
    background-color: #fd3b55;
    overflow-x: hidden;
  }
  .grid-header-item {
    height: 80vh;
    width: 50vw;
  }
  .grid-header-image {
    max-height: 90%;
    max-width: 90%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

  .grid-header-title {
    padding: 1rem 0.1rem 0 0.1rem; font-size: 6rem; color: white;
    line-height: 100%;
  }
  
  *{
      margin: 0;
      padding: 0;
  }
  .header {
            display: grid;
            height: 100%;
  }

  .header-img {
            width: 100%;
            max-height: 100vh;
            margin: auto;
  }

  .photo {
    height:40%;
    width: 100%;
  }

  .grid-img {
    object-fit:cover;
    max-width: 120px;
    max-height: 120px;
    object-position: right top;
    // margin: auto;
  }


  .title-heading {
    text-align:center;
    color: #494747; 
    font-size: 2.2rem; 
    font-weight: bold;
    padding: 8rem 0.5rem 8rem 0.5rem;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }
  

  .center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    background: white;
    color: #fd3b55;
  }
  
  .bg-dark {
    background: #fd3b55;
    color: white;
  }
  
  footer {
    padding: 2.2rem;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: bolder;
  }
  


  .video {
      width: 90%;
      height: 450px;
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    color: black;
    grid-gap: 4vw;
    margin-left:4vw;
    margin-right: 4vw;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center; 
    height: 50vh;
    width: 20vw;
  }

  .grid-title {
    padding: 1rem 0.1rem 0 0.1rem;  font-size: 1.2rem; font-weight: bold; color: #494747;
  }

  .grid-subtitle {
    padding: 1rem 0.1rem 0 0.1rem; font-size: 1rem; color: #494747;
  }

  // .item  {
  //   box-shadow: 0.1rem 0.05rem 0.5rem 0.08rem grey;
  // }

  .item-plans  {
    box-shadow: 0.1rem 0.05rem 0.5rem 0.08rem #fd3b55;
  }

  .grid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .grid-plans {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    color: black;
    grid-gap: 4vw !important;
    margin-left:4vw;
    margin-right: 4vw;
  }
  
  .grid-plans > div {
    background-color: white;
    text-align: center; 
    height: 90vh;
    width: 20vw;
    
  }


  ::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  ::ng-deep  .mat-list .mat-list-item{
    height:initial!important;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    color: white;
    text-align: center;
    width: 100%;
  }

  .footer-grid > div {
    width: 33.33%;
  }
  /* Small Screens */
  @media (max-width: 600px) {

    .grid-header-title {
      font-size: 2.5rem;
    }
    .header {
      display: grid;
      height: 50%;
    }
    .header-img {
      width: 100%;
      max-height: 50vh;
      margin: 0 0 0 0;
    }

    .video {
        width: 90%;
        height: 280px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid-container {
        grid-template-columns: auto;
    }
    .grid-container > div {
        padding: 2.5px 5px 2.5px 5px;
        height: 60vh;
        width: 90vw;
    }

    .grid-plans {
        grid-template-columns: auto;
    }
    .grid-plans > div {
        height: 90vh;
        width: 90vw;
    }

    .grid-header {
      grid-template-columns: auto;
    }
    .grid-header-item  {
      height: 60vh;
      width: 100vw;
    }

    .footer-grid {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
    .footer-grid > div {
      width: 100%;
    }
  }


  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
  
    .content {
      top: 0;
    }
  }
  