body {
    background-color: white;
    margin: 0;
    color: #fd3b55;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    
  }
  
  
  *{
      margin: 0;
      padding: 0;
  }
  .header-img {
            display: grid;
            height: 80%;
        }
  .center-fit {
            width: 100%;
            max-height: 80vh;
            margin: auto;
  }


  .title-heading {
    text-align:center;
    color: #494747; 
    font-size: 2.2rem; 
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }
  

  .center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    background: white;
    color: #fd3b55;
  }
  
  .bg-dark {
    background: #fd3b55;
    color: white;
  }
  
  footer {
    padding: 2.2rem;
  }
  
  footer p {
    margin: 0;
  }


  .video {
      width: 90%;
      height: 450px;
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    color: black;
    grid-gap: 2vw;
    margin-left:3vw;
    margin-right: 3vw;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center; 
    height: 60vh;
    width: 30vw;
  }

  .item  {
    box-shadow: 0.1rem 0.05rem 0.5rem 0.08rem grey;
  }

  .item-plans  {
    box-shadow: 0.1rem 0.05rem 0.5rem 0.08rem grey;
  }

  .grid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .grid-plans {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    color: black;
    grid-gap: 4vw !important;
    margin-left:4vw;
    margin-right: 4vw;
  }
  
  .grid-plans > div {
    background-color: white;
    text-align: center; 
    height: 90vh;
    width: 20vw;
  }


  ::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  ::ng-deep  .mat-list .mat-list-item{
    height:initial!important;
  }

  /* Small Screens */
  @media (max-width: 600px) {
    .showcase::after {
      height: 50vh;
    }
  
    .content {
      top: 10%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 100px;
      width: 100px;
    }
  
    .content .text {
      display: none;
    }

    .video {
        width: 90%;
        height: 280px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid-container {
        grid-template-columns: auto;
    }
    .grid-container > div {
        padding: 2.5px 5px 2.5px 5px;
        height: 60vh;
        width: 90vw;
        // margin: 1vw 2vw 0vw 2vw;

    }

    .grid-plans {
        grid-template-columns: auto;
    }
    .grid-plans > div {
        height: 90vh;
        width: 90vw;
    }
  }


  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
  
    .content {
      top: 0;
    }
  }
  