<div class="payments"  fxHide.xs>

    <div class="payments-title-grid">
        <div class="item-title">
            <div class="subitem-title">
                <div><h2>WALLET BALANCE</h2></div>
                <!-- <div style="color: #fd3b55"><h2>₹ 5251</h2></div> -->
            </div> 
        </div>
        <div class="item-title">
            <div class="subitem-title">
                <!-- <div><h2>WALLET BALANCE</h2></div> -->
                <div style="color: #fd3b55"><h2>₹ 5251</h2></div>
            </div> 
        </div>
 
        <div class="item-title">
            <div class="subitem-title">
                <div><h2>REDEEM MONEY FROM WALLET</h2></div>
                <mat-form-field class="example-form-field"  appearance="outline" style="width:80%">
                    <input matInput placeholder="Enter Amount..." type="text" [(ngModel)]="amount" style="color: #fd3b55;">
                </mat-form-field>
                <!-- <mat-icon matSuffix>visibility</mat-icon> -->
                <!-- <div><p>Conversion charges are 2% & GST***</p></div> -->
                <!-- <div><button mat-flat-button color="primary" style="background-color: #fd3b55;">Redeem Money</button></div> -->
            </div>
        </div>
        <div class="item-title">
            <div class="subitem-title">
                <div><h2 style="color: dodgerblue;">Conversion charges are 2% & GST***</h2></div>
                <div><button mat-flat-button class="pb-2" color="primary" style="background-color: #fd3b55; width: 50%;">Redeem Money</button></div>
            </div>
        </div>
    </div>

    <div class="payments-grid">
        <div class="item" style="text-align:center">
        </div>
        <div class="item">
            <div><h3>TRANSACTION</h3></div>
        </div>
        <div class="item">
            <div><h3>AMOUNT</h3></div>
        </div>
        <div class="item">
            <div><h3>STATUS</h3></div>
        </div>
        <div class="item">
            <div><h3>COMMENTS</h3></div>
        </div>
    </div>

    <div class="payments-grid" *ngFor="let Payment of paymentList">

        <div class="item" style="text-align:center">
            <div style="display: inline-block;"><img   class="score-icon" src="./../../../../../assets/images/correct.png" /></div>
        </div>
        
        <div class="item">
            <div><h3>{{Payment.to}}</h3></div>
            <p class="py-0">{{Payment.timestamp}}</p>
            <p class="py-0">{{Payment.from}}</p>
            <p class="py-0">Transaction ID: {{Payment.transactionId}}</p>
        </div>
        <div class="item">
            <div><h3>{{Payment.amount}}</h3></div>
        </div>
        <div class="item">
            <div><h3>{{Payment.result}}</h3></div>
        </div>
        <div class="item">
            <div><p>{{Payment.comments}}</p></div>
        </div>
    </div>
</div>


<div class="payments-xs"   fxShow.gt-lg="false" fxShow.lg="false" fxShow.md="false" fxShow.sm="true" fxShow="true">
    <div style="margin-top: 1rem;">
        <div><h2>WALLET BALANCE</h2></div>
        <div><h1 style="color: #fd3b55; font-weight: bolder; font-size: 3rem;">₹ 5251</h1></div>
        <div><h2>REDEEM MONEY FROM WALLET</h2></div>
    </div>

    <div>
        <mat-form-field class="example-form-field"  appearance="outline" style="width:60%">
            <input matInput placeholder="Enter Amount..." type="text" [(ngModel)]="amount" style="color: #fd3b55;">
        </mat-form-field>
    </div>
    <div><button mat-flat-button class="pb-2" color="primary" style="background-color: #fd3b55; width: 60%;">Redeem Money</button></div>
    <div><p style="color: dodgerblue;">Conversion charges are 2% & GST***</p></div>

    <div class="pay-xs" *ngFor="let Payment of paymentList">

        <!-- <div class="item-x" style="text-align:center">
            <div style="display: inline-block;"><img   class="score-icon" src="./../../../../../assets/images/correct.png" /></div>
        </div> -->
        
        <div class="item-x">
            <h2>{{Payment.to}}</h2>
            <p class="py-0" style="color: grey">{{Payment.timestamp}}</p>
            <p class="py-0">FROM: {{Payment.from}}</p>
            <p class="py-0">Transaction ID: {{Payment.transactionId}}</p>
            <h2 style="color: #fd3b55;">₹ {{Payment.amount}}</h2>
            <h3 style="color: green;">{{Payment.result}}</h3>
            <p style="color: dodgerblue">{{Payment.comments}}</p>
        </div>
    </div>



</div>
