.payments {
    width: 100%;
    height: 100vh;
    background-color: white;
    // overflow-x: hidden;
}

.payments-grid {
    display: grid;
    grid-template-columns: 8% 30% 15% 15% 30%;
    grid-template-rows: auto;
    border-bottom: 1px solid  lightgray;
    overflow-x: hidden;
    width: 80%;
    margin: 0 auto;

}

.payments-title-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 1rem auto;
    width: 80vw;
    grid-gap: 0.1rem;
    background-color: whitesmoke;
    box-shadow: 0.1rem 0.05rem 0.5rem 0.08rem grey;

}

.item {
    padding-top: 1rem;
    // overflow-x: hidden;
}

.item-title {
    background-color: white;
    // height: 100px;
    width: 40vw;
}
.subitem-title {
    width: 80%;
    margin: 2rem auto;
}

.score-icon {
    width: 50px;
    height: 50px;
}