<mat-toolbar class="main-header">

    <div class="branding-logo">
      <img src="assets/images/logo_white_x.png" (click)="viewHome()" alt=""/>
    </div>
    <div class="branding-text">
      <h1 (click)="viewHome()">Captchabro</h1>
    </div>
  
    <span style="flex: 1 1 auto;"></span>

    <button mat-button class="primary" routerLink="/session" >Login</button>
    <!-- <button mat-button class="primary" routerLink="/session/signup" >Signup</button> -->
    <button (click)="toggleNotificationSidenav.emit()" mat-icon-button class="ml-xs overflow-visible">
      <mat-icon matBadge="15" matBadgeColor="primary">notifications</mat-icon>
    </button>

    <button class="menu-button" routerLink="" matTooltip="Settings"  mat-icon-button class="ml-xs" fxLayout fxHide.xs  >
      <mat-icon>settings</mat-icon>
    </button>
  
  
    <!--
      /*
       * Header menu when the page is not viewed or Desktop or iPads
       */
    -->
    <button class="menu-button" mat-icon-button [matMenuTriggerFor] = "smallScreenHeaderMenu" fxShow.gt-lg="false" fxShow.lg="false" fxShow.md="false" fxShow.sm="false" fxShow="true"  >
      <mat-icon>more_vert</mat-icon>
    </button>
  
    <mat-menu #smallScreenHeaderMenu="matMenu">
        
      <button mat-menu-item  routerLink=""> 
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
      </button>
  
    </mat-menu>
  
  </mat-toolbar>
  