.menu-button {
    align-items: right !important;
}

.branding {
    width: 10;
    height: 10;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 0.2rem;
}

.main-header {
    background-color: #fd3b55;
    color: white;
}

mat-toolbar {
    position: sticky;
    overflow: hidden;
}

.primary:hover {
    color: #fd3b55;
    background-color: white;
}